h3 {
    text-align: center;
  }
  
  .text-multiplier {
    line-height: 0.9;
  }
  
  .text-px {
    line-height: 20px;
  }
  
  .text-em {
    line-height: 1.5em;
  }
  
  .text-percent {
    line-height: 230%;
  }
  
  /* This part is not the focus of the current chapter. We will consider it further. */
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
  }
  
  .container {
    width: 200px;
    border: 4px dashed rgb(0, 0, 0);
  }