.blog-list {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(128, 236, 4);
    width: 660px;
  }
  
  .blog-item {
    flex-basis: calc(100% / 3);
    border: 1px solid saddlebrown;
    padding: 10px 15px;
  }
  
  /* Remove default decorations */
  ul {
    list-style: none;
    padding-left: 0;
  }