.example-one {
    text-shadow: -10px 10px 4px rosybrown;
  }
  
  .example-two {
    text-shadow: 10px -10px 4px rosybrown;
  }
  
  .example-three {
    color: white;
    text-shadow: -2px 1px 5px black, -2px 1px 30px #ff99cc;
  }
  
  p {
    font-size: 42px;
  }
  
  /* This part is not the focus of the current chapter. We will consider it further. */
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
  }
  
  .container {
    width: 220px;
    border: 1px dashed darksalmon;
    text-align: center;
  }