h3 {
    text-align: center;
  }
  
  .text-inherit {
    word-spacing: inherit;
  }
  
  .text-normal {
    word-spacing: normal;
  }
  
  .text-value {
    word-spacing: 8px;
  }
  
  /* This part is not the focus of the current chapter. We will consider it further. */
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  .container {
    width: 200px;
    border: 1px dashed lightgreen;
  }